# Env vars
.env

# React + Vite
frontend/node_modules/
frontend/dist/

# Генерируемые данные
watchlist.csv
watchlist.json
watchlist_raw.json
posters/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE configs
.vscode/
.idea/
vendor/
match/
node_modules/
# macOS / Windows system files
.DS_Store
Thumbs.db

